@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --header-green: #14b8a6;
    --heading-primary: #f3f4f6;
    --description-grey: #f3f4f6;
    --card-bg: #f1f5f9;
    --text-gray: #1f2937;
    --text-gray-dark: #111827;

    --content-max-width: 96rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
    color: var(--text-gray);
    font-family: 'Inter var experimental',
        'Inter var', Inter, -apple-system, BlinkMacSystemFont,
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 100%;
}

/* header */
header {
    padding: 2rem 1rem;
    background-color: var(--header-green);
}

.header-heading {
    color: var(--heading-primary);
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    cursor: default;
    margin: 0 auto;
}

.header-heading-size {
    font-size: 1rem;
    max-width: var(--content-max-width);
    padding: 0rem 1rem;
}

@media only screen and (min-width: 768px) {

    /* for tablets */
    header {
        padding: 3rem 1.5rem;
    }

    .header-heading-size {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1280px) {

    /* for desktops */
    header {
        padding: 4rem 0;
    }

    .header-heading-size {
        font-size: 2.5rem;
    }
}

/* Description section */
.middle-section-color {
    background-color: var(--description-grey);
}

.middle-section-padding {
    padding: 2rem 0;
}

.description-wrapper {
    max-width: var(--content-max-width);
    padding: 0 1rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 768px) {

    /* for tablets */
    .middle-section-padding {
        padding: 3rem 0;
    }
}

@media only screen and (min-width: 1280px) {

    /* for tablets */
    .middle-section-padding {
        padding: 4rem 0;
    }
}

/* Description Hero container */
.hero-container {
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.hero-container-dimension {
    height: 5rem;
    width: 5rem;
    padding: .85rem;
    background-color: white;
}

@media only screen and (min-width: 768px) {
    /* for tablet */

    .hero-container-dimension {
        height: 8rem;
        width: 8rem;
        padding: 1rem;
    }
}

@media only screen and (min-width: 1280px) {
    /* for desktop */

    .hero-container-dimension {
        height: 12rem;
        width: 12rem;
        padding: 2rem;
    }
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Main Description */
.description-main {
    padding: 1rem 0;
    color: var(--text-gray-dark);
}

.description-heading {
    font-family: "Lato", serif;
    font-weight: 800;
    font-style: normal;
    cursor: default;
    margin: 0 auto;
    width: max-content;
}

.description-para-container {
    padding-top: 1rem;
    max-width: calc(var(--content-max-width) - 32rem);
}

.description-para-container p {
    padding: .25rem 0;
    font-size: 1rem;
}

@media only screen and (min-width: 768px) {
    /* for tablet */

    .description-heading {
        font-size: 1.5rem;
    }

    .description-para-container {
        padding-top: 2rem;
        text-align: center;
    }

    .description-para-container p {
        padding: .5rem 0;
        font-weight: 500;
        font-size: 1.15rem;
    }
}

@media only screen and (min-width: 1280px) {
    /* for desktop */

    .description-heading {
        font-size: 2rem;
    }
}

/* Project section */
.project-section-wrapper {
    max-width: var(--content-max-width);
    margin: 0 auto;
    padding: 1rem;
}

.project-section-wrapper h1 {
    font-family: "Lato", serif;
    font-weight: 800;
    font-style: normal;
    cursor: default;
}

.project-layout {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 2rem;
}

.project-url {
    display: inline-block;
    height: 100%;
    width: 100%;
    max-width: 17rem;
    text-decoration: none;
    text-emphasis: none;
    transition: all 250ms ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
}

@media not (hover: none) {

    /* behaviour for hoverable devices */
    .project-url:hover {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
}

@media only screen and (min-width: 414px) {
    /* large mobiles */

    .project-url {
        max-width: none;
    }
}

.project-cover {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: row;
    border-radius: 10px;
}

.project-icon {
    background-color: var(--text-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

.project-icon-wrapper {
    height: 5rem;
    width: 5rem;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--text-gray-dark);
}

.project-icon-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.project-description {
    padding: .85rem;
    background-color: var(--card-bg);
    border-radius: 0px 10px 10px 0px;
}

.project-description h2 {
    color: var(--text-gray-dark);
    padding: .5rem 0;
    font-size: 1.1rem;
}

.project-description p {
    color: var(--text-gray);
    padding: .5rem 0;
    font-size: .95rem;
}

@media only screen and (min-width: 768px) {
    /* for tablet */

    .project-section-wrapper {
        padding: 2rem 1.5rem;
    }

    .project-section-wrapper h1 {
        padding: 0 1.5rem;
        font-size: 1.85rem;
    }

    .project-layout {
        margin-top: 1rem;
    }

    .project-cover {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: none;
        grid-auto-flow: column;
    }

    .project-icon {
        border-radius: 10px 0px 0px 10px;
    }

    .project-description {
        padding: 1rem 2rem;
        grid-column: span 3;
        grid-auto-flow: column;
        border-radius: 0px 10px 10px 0px;
    }

    .project-description h2 {
        font-size: 1.5rem;
    }

    .project-description p {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1280px) {
    /* for desktop */

    .project-section-wrapper {
        padding: 2rem 2.5rem;
    }

    .project-layout {
        margin-top: 1.85rem;
    }
}

/* Footer */
footer{
    padding: 1rem;
    margin-top: 3rem;
}

.footer-wrapper{
    max-width: var(--content-max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

footer span{
    color: var(--text-gray);
}

footer a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.github-svg{
    height: 1rem;
    width: 1rem;
    fill: black;
}

@media only screen and (min-width: 768px) {
    /* for tablet */

    footer{
        margin-top: 5rem;
        padding: 2rem 3rem;
    }
    
    .footer-wrapper{
        flex-direction: row;
        justify-content: space-between;
    }

    .github-svg{
        height: 1.45rem;
        width: 1.45rem;
    }
}

@media only screen and (min-width: 1280px) {
    /* for desktop */

    footer{
        margin-top: 8rem;
        padding: 2rem 5rem;
    }

    .github-svg{
        height: 1.95rem;
        width: 1.95rem;
    }
}